.footer{
  width: 100%;
  display:inline-block;
  background: #323232;
  color: white;
}
hr{
  margin-top: 0;
}
.social{
  height: 75px;
  width: 75px;
}
.socialLink{
  color: white;
  margin-right: 17vw;
  margin-left: 17vw;
  margin-bottom: 1vh;
  font-size: 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.socialLink:hover{
  text-decoration: underline;
}
.socialLink:visited{
  color: rgb(196, 196, 196);
}
.socialLink > span{
  padding-left: 20px
}
#socialLinks{
  display: flex;
  align-items: center;
}
@media (max-aspect-ratio: 1/1){
  #socialLinks{
    display: block;
  }
}