.navbar{
  background-color: #525252;
  width:100vw;
  min-height: 80px;
  font-family: SoftwareTester7;
  position: fixed;
  z-index: 2;
}
html:not([data-scroll='0']) .navbar{
  background-color: #212121;
}
.nav_list{
  padding: 28px;
  vertical-align: top;
  float: right;
}


.navbar label, #hamburger {
  display: none;
}

@media screen and (max-width: 750px){
  
  .navbar label{ 
    display: inline-block;
    float: right;
    padding-right: 28px;
    font-size: 50px;
    color: white;
  }

  .nav_list a {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }

  .nav_list { display: none; }
  .navbar input:checked ~ .nav_list { display: block; }
}


.page_link{
  margin: 0;
  color:white;
  text-decoration: none;
  font-size: 28px;
  font-weight: 100;
  margin-left: 25px;
}
.page_link:visited{
  color:white;
}
.page_link:hover{
  border: white;
  border-width: 1px;
  border-bottom-style: solid;
}
.selected{
  font-weight: bold;
}